
<!DOCTYPE html>
<html>
<head>
    <base href="~/"/>
    <title>Intership Task| @ViewData["Title"]</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/mdb.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

<div class="container">
    @RenderBody()    
</div>



<script src="js/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="js/mdb.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="js/main.js" type="text/javascript" asp-append-version="true"></script>
<script src="js/datatables.min.js" type="text/javascript" asp-append-version="true"></script>

<!-- Add Blazor Default Javascript Library -->
<script src="_framework/blazor.server.js"></script>

@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts", true)
}
</body>
</html>